<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/cssFiles/takingTest.css">
    <script>
      var f_time
      const sec=1000
      const min=60
      var timer
      function start_timer(final_time) {
        f_time=final_time
        timer=setInterval(clock,1000);
      }
      
      function clock(){
        var current_time=new Date().getTime();
        var time_left=f_time-current_time
        time_left=Math.floor(time_left/sec)
        time_left_min=Math.floor(time_left/min)
        time_left_sec=time_left%min
        var time_display=time_left_min+":"+time_left_sec
        document.getElementById('clock').innerHTML="Time left: "+time_display
        
        if(time_left==0){
          clearInterval(timer)
          document.getElementById("timeup").click()
        }
      }
      function ajaxCallToServer(qid,tid,uid,answer_marked) {
        var xmlhttp = new XMLHttpRequest(); 
        var url = "/submitAnswer/"+qid+"/"+tid+"/"+answer_marked
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.send();
      }
      function ajaxCallToServerForReset(qid,tid,uid) {
        var xmlhttp = new XMLHttpRequest(); 
        var url = "/resetAnswer/"+qid+"/"+tid
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.send();
      }
      function ajaxCallForAnswer(qid){
        var xmlhttp = new XMLHttpRequest();
        var url = "/answer/"+qid
        
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            
            if(this.responseText!=""){
              document.getElementById(this.responseText).checked = true;
            }
          }
        }
        xmlhttp.send();
      }
      var count=0;
      function ajaxCallforQ(qid_json) {
        document.getElementById('button_next').style.display="none"
        var xmlhttp = new XMLHttpRequest(); 
        var json_type=JSON.parse(qid_json)
        var url = "/question/"+json_type[count].qid
        
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var josn_response=JSON.parse(this.responseText)
            count++;
            document.getElementById("ques").innerHTML =
            `<p>Q.`+count+` `+josn_response[0].question +`</p>
            <input type="hidden" value='`+josn_response[0].qid+`' name="qid" >
            <input type="hidden" value='<%=tid%>' name="tid" >
            <input type="hidden" value='<%=uid%>' name="uid" >
            <br><input class='option' type='radio' id="1" value="1" name='answer_marked'>1. `+josn_response[0].option1+`
            <br><input class='option' type='radio' id="2" value="2" name='answer_marked'>2. `+josn_response[0].option2+`
            <br><input class='option' type='radio' id="3" value="3" name='answer_marked'>3. `+josn_response[0].option3+`
            <br><input class='option' type='radio' id="4" value="4" name='answer_marked'>4. `+josn_response[0].option4+`
            <br><input type='button' class='saveReset' value='SAVE' onclick="ajaxCallToServer(`+josn_response[0].qid+`,tid.value,uid.value,answer_marked.value)">
            <input type='reset' class='saveReset' value='RESET' onclick="ajaxCallToServerForReset(`+josn_response[0].qid+`,tid.value,uid.value)">
            `
            document.getElementById("button_next").value="Next"
            if(count==json_type.length){
              
              document.getElementById("button_next").style.display="none"
            }
            else{
              document.getElementById("button_next").style.display="inline"
            }
            
            if(count==1){
              document.getElementById("button_prev").style.display="none"
            }
            else{
              document.getElementById("button_prev").style.display="inline"
            }
            ajaxCallForAnswer(json_type[count-1].qid)
            
          }
        }
        xmlhttp.send();
        
      }
      function prevQ(qid_json){
        document.getElementById('button_prev').style.display="none"
        count=count-2;
        ajaxCallforQ(qid_json)
        
      }
      window.onload=function(){
        document.getElementById("button_next").click();
        document.getElementById("time_clock").click();
      };
      </script>
</head>
​ <body>
  <div class="clock">
    <span id="logo">PRACTEST</span>
    <span id='clock'></span>
  </div>
  <input type="button" id="time_clock" style="display: none;" onclick="start_timer('<%=endTime%>')">
  <div class='question-box'>
    <form method="GET" action="/submitAnswer" id="ques">
      
      
    </form>
  </div>
  <input type="button" id="button_next" value='Next' style="display: none;" onclick="ajaxCallforQ('<%=JSON.stringify(qid_json)%>')">
  <input type='button' id="button_prev" value='Previous' style="display: none;" onclick="prevQ('<%=JSON.stringify(qid_json)%>')">
  <button class="timeup">
    <a id="timeup" href="/endTest/<%=tid%>">End Test</a>
  </button>
</body>
</html>